  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background: black;
      width: 1200px;
      display: grid;
      grid-template-columns: 40% 60%;
      border: 1px solid white;
      margin: 0 auto;
      position: relative;
    }

    .canvas-wrapper{
      display: flex;
      justify-content: center;
      padding-top: 5px;
      padding-bottom: 0px;
    }

     #piano-keys {
      display: flex;
      width: 100%;
      justify-content: center;

    }

    .player-key {
      height: 220px;
      width: 70px;
      border: 1px solid black;
      background: #FAF9F1;
      border: outset;
    }

    .black-key {
      height: 120px;
      width: 50px;
      background: black;
      border: outset grey;
      margin: 0 -25px;
      z-index: 5;
    }

    .blue.selected {
      border: inset;
      background: #33FCFF;
    }

    .pink.selected {
      border: inset;
      background: #AF33FF;
    }

    .yellow.selected {
      border: inset;
      background: #E5FE15;
    }

    .orange.selected {
      border: inset;
      background: #FF8D33;
    }

    .green.selected {
      border: inset;
      background: #AFFF33;
    }

    .score-container, .timer-container{
      width: 70px;
    }
  
    .game-info{
      color: white;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      width: 350px;
      text-align: center;
    }
  
    #quit {
      border: 2px solid white;
      height: 40px;
      width: 70px;
      color: white;
      background: black;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    
    #menu-background{
      position: absolute;
      top: 0;
      left: 40%;
      width: 60%;
      height: 100%;
      display: block;
      background: black;
      z-index: 100;
    }

    #menu-background.hidden{
      display: none;
    }

    .instructions-panel{
      background: black;
    }

    #title{
      font-size: 40px;
      font-family: 'Dancing Script', cursive;
      color: white;
    }

    .menu-background.open{
      display: block;
    }

    .levels, .song-titles{
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 40px;
    }

    input[type="radio"]{
      display: none;
    }

   input[type="radio"] + label{
     position: relative;
     margin-top: 15px;
   }

    input[type="radio"]:checked + label::before{
      background-image: url(../assets/selection.jpg);
      position: absolute;
      left: -25px;
      top: -5px;
      background-size: 25px 25px;
      content: "";
      height: 25px;
      width: 25px;
    }

    #big-logo{
      height: 300px;
      width: auto;
    }

    .menu-container{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;;
      justify-content: space-evenly;
      padding: 40px 0;
    }

    .menu-form {
      width: 80%;
      text-align: center;
    }

    .selection {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
    }

  

    

    
