  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background: black;
    }


    main {
      width: 1200px;
      display: grid;
      grid-template-columns: 40% 60%;
      margin: 10px auto;
      position: relative;
    }

    .canvas-wrapper{
      display: flex;
      justify-content: center;
      padding-top: 5px;
      padding-bottom: 0px;
      position: relative;
  
    }

  
     #piano-keys {
      display: flex;
      width: 100%;
      justify-content: center;

    }

    .player-key {
      height: 220px;
      width: 70px;
      border: 1px solid black;
      background: #FAF9F1;
      border: outset;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      > h3 {
        padding-bottom: 15px;
        color: #51514D;
        font-size: 18px;
      }
    
    }

    h3{
        font-family: 'Dancing Script', cursive;
        font-size: 28px;
        color: white;
      }

    h2{
      font-family: 'Dancing Script', cursive;
      font-size: 32px;
    }

    .black-key {
      height: 120px;
      width: 50px;
      background: black;
      border: outset grey;
      margin: 0 -25px;
      z-index: 5;
    }

    .blue.selected {
      border: inset;
      background: #33FCFF;
    }

    .pink.selected {
      border: inset;
      background: #AF33FF;
    }

    .yellow.selected {
      border: inset;
      background: #E5FE15;
    }

    .orange.selected {
      border: inset;
      background: #FF8D33;
    }

    .green.selected {
      border: inset;
      background: #AFFF33;
    }


    #timer, #score{
      font-size: 30px;
      width: 150px;
    }

    .timer-container{
      margin-top: 50px;
    }

    .score-container{
      margin-top: 50px;
    }
  
    .game-info{
      color: white;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  
    #quit {
      border: 2px solid white;
      outline: none;
      margin-top: 15px;
      height: 40px;
      width: 70px;
      color: white;
      background: black;
      font-family: 'Dancing Script', cursive;
      font-size: 22px;
    }
    
    #menu-background{
      position: absolute;
      top: 0;
      left: 40%;
      width: 60%;
      height: 100%;
      display: block;
      background: black;
      z-index: 100;
    }

    #menu-background.hidden{
      display: none;
      
    }

    .left-panel{
      background: black;
      color: white;
      border-right: 1px solid white;
      margin-top: 25px;
      padding-left: 15px;
    }

    .instructions-panel{
      height: 85%;
      width: 93%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    #title, #open-title{
      font-size: 60px;
      font-family: 'Dancing Script', cursive;
      color: white;
      width: 500;
    }

    #open-title{
      margin-bottom: 100px;
    }

    #title{
      position: absolute;
      top: 250px;
      transform: rotate(-10deg);
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }
    



    #left-title{
      width: 90%;
      text-align: center;
      text-decoration: underline;
      font-size: 40px;
    }
    

    .menu-background.open{
      display: block;
    }

    .levels, .song-titles{
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 40px;
    }

    input[type="radio"]{
      display: none;
    }

   input[type="radio"] + label{
     position: relative;
     margin-top: 15px;
     border: 1px solid white;
     text-align: center;     
     width: 100px;
     padding: 5px;

   }

   input[type="radio"]:checked + label, input[type="radio"] + label:hover, 
   #play-button:hover, #quit:hover {
     background: white;
     color: black;
   }

    input[type="radio"]:checked + label::before{
      background-image: url(../assets/selection.jpg);
      position: absolute;
      left: -25px;
      top: 0px;
      background-size: 25px 25px;
      content: "";
      height: 25px;
      width: 25px;
    }

    #big-logo, #title-logo{
      height: 300px;
      width: auto;
    }

    .menu-container{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;;
      justify-content: space-evenly;
      padding: 40px 0;
    }

    .menu-form {
      width: 80%;
      text-align: center;
    }

    .selection {
      display: flex;
      justify-content: space-between;
      margin: 80px 20px 168px 20px;
    }

    #play-button{
      outline: none;
      width: 90px;
      height: 40px;
      font-family: 'Dancing Script', cursive;
      border: 1px solid white;
      font-size: 28px;
      background: black;
      color: white;
    }

    .flashing{
      animation: flash 1s 2;
    }

    @keyframes flash {
     0% {opacity: 1;}
     49% {opacity: 1;}
     50% {opacity: 0;}
     99% {opacity: 0;}
    }



    .links{
      margin-top: 20px;
    }

    .icon {
      > img{
        height: 30px;
        width: auto;
      }
    }

    #open-modal-background{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: black;
      width: 100%;
      height: 100%;
      z-index: 500;
    }

    .open-modal-content{
      width: 100%;
      text-align: center;
    }

    #open-modal-background.hidden{
      display: none;
      
    }

    

   
    
  

    

    
